<div class="container">
    <h1>Editing Movies Info</h1>

    <%= render 'form', movies_info: @movies_info %>

    <%= link_to 'Show', @movies_info %> |
    <%= link_to 'Back', movies_infos_path %>
</div>