<div class="container">
    <h3>About this web-app</h3>
</div>
<div class="container">
    <p>Resources used to create the app:</p>

    <ul class="list-group">
        <li class="list-group-item">Ruby on Rails framework</li>
        <li class="list-group-item">MongoDB Atlas cluster</li>
        <li class="list-group-item">Heroku Deploy</li>
        <li class="list-group-item">Bootstrap v5.0</li>
        <li class="list-group-item">Kaggle</li>
    </ul>
</div>