<div class="container">
<main class="px-3">
    <h1>Find movies that you love</h1>
    <p class="lead">CineDB has it all - find movies, read the description, as well as add new ones too...</p>
    <p class="lead">
      <%= link_to 'Check database', movies_infos_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-black"%>
      <%= link_to 'About', about_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-black"%>
    </p>
</main>
</div>