<main class="px-3">
    <h1>Find movies that you love</h1>
    <p class="lead">CineDB has it all - find movies, read the description, as well as add new ones too...</p>
    <p class="lead">
      <a href="https://getbootstrap.com/docs/5.0/examples/cover/#" class="btn btn-lg btn-secondary fw-bold border-white bg-black">Learn more</a>
    </p>
  </main>